<!DOCTYPE html>
<html>
  <head>
<link rel='stylesheet' href='styles/Home.style.css' />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
  </head>
  <body>
    <nav>
    <ul>
        <li>
            <a href="/signup">Sign Up /</a><a href="/login"> Login</a>
        </li>
        <li>
            <a href="/watchlist">Watchlist</a>
        </li>
    </ul>
    </nav>
    <header>
    <h1>Ghibli Archive</h1>
    <p>by Kirran Kirpalani</p>
    </header>
  </body>
</html>
