<!DOCTYPE html>
<html>
  <head>
<link rel='stylesheet' href='/styles/Signup.style.css' />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
  </head>
  <body>
  <a id="arrow" href="/"><span >⬅️</span></a>
  <div class="login-card">

  <form class="login-form" action="/login" method="POST">
        <h1>Log in</h1>
        <h6>Welcome back!</h6>
        <h6>It's great to see you again...</h6>
  <label>Email</label>
  <br> 
  <input type="text" name="email">
    <br>
    <label>Password</label>
      <br>
  <input type="text" name="password">
    <br>
<button>Submit</button>
  </form>
</div>
  </body>
</html>
