<!DOCTYPE html>
<html>
  <head>
<link rel='stylesheet' href='/styles/Signup.style.css' />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
  </head>
  <body>
    <a id="arrow" href="/"><span >⬅️</span></a>
        <div class="validationErrors">
    {{#if errorMessage}}
      <p class="error">Something went wrong ( {{errorMessage}} )</p>
    {{/if}}
  </div>
  <div class="login-card">
  <form class="login-form" action="/signup" method="POST">
        <h1>Sign up</h1>
        <h6>Welcome! lets get you started...</h6>
  <label>Email</label>
  <br>
  <input type="email" name="email">
    <br>
    <label>Username</label>
      <br>
  <input type="text" name="userName">
    <br>
    <label>Password</label>
      <br>
  <input type="password" name="password">
    <br>
<button>Submit</button>
  </form>
</div>

<img class="signup-img" src="img/gib4.png" alt="1">

  </body>
</html>
