body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

nav{
    background-color: black;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
}

nav a{
text-decoration: none;
color: white;
}

nav ul{
display: flex;
list-style: none;
justify-content: center;
color: white;
padding:0;
}

ul li{
margin: 0 10px 0;
  text-decoration: dashed;
}



nav a:hover{
text-decoration: underline;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 75px 0 0 0;
}

footer{
    text-align: center;
}

img{
    z-index: -1;
}

.shows{
    z-index: -1;
    animation: fade-in 1s linear;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.show-card{
    text-align: center;
    border-radius: 8px;
    margin: 5px 15px 20px;
}

.show-card:hover{
    animation: pulsate 1s infinite alternate;
}


.show-card img{
    height: 250px;
    padding: 10px;
    border-radius: 18px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}


.filter{
    text-decoration: none;
    color: black;
    margin: 5px;
}

.filter-title a{
    text-decoration: none;
    color: black;
}

.sorting{
text-align: center;
display: none;
animation: fade-in 1s linear;
margin: 10px;
}

.sorting-dissapear{
    display: block;
}

.filter-toggle{
cursor: pointer;
}

@keyframes fade-input{
    0%{opacity: 1;
    }
    100%{opacity: .2;
    }
}

@keyframes fade-in{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes pulsate{
    0%{
        scale: 1;
    }
    100%{
        scale: 1.04;
    }
}



@media (max-width:320px){
nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    color: white;
}

nav span{
    display: none;
}
}

