body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
header{
    text-align: center;
}

footer{
    text-align: center;
}

#arrow{
    text-decoration: none;
    position: fixed;
    top:0;
    left:0;
    margin: 30px;
}

.show-info hr{
        border: 0;
        height: 1px;
        background: #333;
        background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

#main-hr{
    overflow: visible; /* For IE */
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
}

.banner{
    display: flex;
    justify-content: center;
    padding: 30px 30px 40px;
}

.banner img{
    height:300px;   
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}


.show-info-card{
    display: flex;
}

.show-info-card img{
    border-radius: 18px;
    height: 500px;
    margin: 50px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

}

.show-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 25px;

}

.show-info{
    padding: 30px 40px 40px;
    border-radius: 10px;
    box-shadow: 0 6.4px 14.4px 0 rgb(0 0 0 / 13%), 0 1.2px 3.6px 0 rgb(0 0 0 / 11%);
}
.show-details button{
    margin: 25px;
    border: 0;
    outline: 0;
    cursor: pointer;
    color: white;
    background-color: rgb(84, 105, 212);
    box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 12%) 0px 1px 1px 0px, rgb(84 105 212) 0px 0px 0px 1px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(60 66 87 / 8%) 0px 2px 5px 0px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
    padding: 15px;
    display: inline-block;
    min-height: 28px;
    box-shadow: 0 6.4px 14.4px 0 rgb(0 0 0 / 13%), 0 1.2px 3.6px 0 rgb(0 0 0 / 11%);

}