body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
header{
    text-align: center;
    margin-top: 54px;
    padding: 10px 10px 0px;
}

footer{
    text-align: center;
}

nav{
    background-color: black;
    width: 100%;
    position: absolute;
    top: 0;
}

li{
    margin: 0 10px 0;
}

nav a{
text-decoration: none;
color: white;
}

nav ul{
display: flex;
list-style: none;
}



.shows{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    animation: fade-in 1s linear;
}

.show-card{
    text-align: center;
    border-radius: 8px;
    margin: 5px 15px 20px;
}

.show-card img{
    height: 250px;
    padding: 10px;
    border-radius: 18px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.show-card button{
    margin: 15px 10px 10px 10px;
    border: 0;
    outline: 0;
    cursor: pointer;
    color: white;
    background-color: rgb(84, 105, 212);
    box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 12%) 0px 1px 1px 0px, rgb(84 105 212) 0px 0px 0px 1px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(60 66 87 / 8%) 0px 2px 5px 0px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
    padding: 10px;
    display: inline-block;
    min-height: 28px;
    transition: background-color .24s,box-shadow .24s;
}

.show-card button :hover {
    box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 12%) 0px 1px 1px 0px, rgb(84 105 212) 0px 0px 0px 1px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(60 66 87 / 8%) 0px 3px 9px 0px, rgb(60 66 87 / 8%) 0px 2px 5px 0px;
}

.rating-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    
 
animation: fade-in 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}


.hidden{
    display:none;
}

@keyframes fade-in{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}



@keyframes slide-in {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(0%);
    }
  }